<!doctype html>
<html>
    <head>
        <title>Kantory Maks</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="description" content="" />
        <meta name="author" content="Dawid Drelichowski" />
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
        <!--[if lt IE 9]>
            <script src="/components/html5shiv/dist/html5shiv-printshiv.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <h1>{{ app.request.host }}</h1>
        </header>
        <table>
            <thead>
                
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <td>{{ row.Country }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <footer></footer>
    </body>
</html>