<!doctype html>
<html>
    <head>
        <title>{% block title %}{{ 'title.default'|trans }}{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="author" content="Dawid Drelichowski" />
        <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
        <!--[if lt IE 9]>
            <script src="/components/html5shiv/dist/html5shiv-printshiv.min.js"></script>
        <![endif]-->
    </head>
    <body class="container">
        <header>
            <h1>{% block h1 %}{{ 'h1.default'|trans }}{% endblock %}</h1>
        </header>
        <section class="row">{% block content %}{% endblock %}</section>
        <footer>
             &copy; Copyright {{ 'now'|date('Y') }} by Dawid Drelichowski
        </footer>
    </body>
</html>